<div ng-if="message">
  <h3 ng-bind="message"></h3>
</div>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat = "boiler in boilers | filter: {birthday: filter_text} | orderBy:'firstName'">
      <td>{{boiler.firstName}} {{boiler.lastName}}</td>
      <td><a ng-href="#!/show/{{boiler._id}}"><button>Show</button></a>
      <td><a ng-href="#!/edit/{{boiler._id}}"><button>Update</button></a>
      <td><button ng-click = "delete(boiler._id)">Delete</button></td>
    </tr>
  </table>

  <br>
  Filter by birthday: <input type = "text" ng-model="filter_text" placeholder="e.g., '01/01/2000'">

  <br>
  <br>
  <a ng-href="#!/new"><button>Create</button></a>

</div>
