<div ng-if="message">
  <h3 ng-bind="message"></h3>
</div>

<div>

  <h3>Hi <span ng-bind="login"></span>! </h3>

  <a ng-href="#!/new"><button>Add a Question</button></a>

  <br><br>

  Search: <input type = "text" ng-model="filter_text">

  <br><br>




  <table>
    <tr>
      <th>Question</th>
      <th>Answers</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat = "boiler in boilers | filter: filter_text">
      <td ng-bind=boiler.mainText></td>
      <td ng-bind=boiler.answers.length></td>
      <td>
        <a ng-href="#!/show/{{boiler._id}}"><button>Show</button></a>
        <a ng-href="#!/newAnswer/{{boiler._id}}"><button>Answer</button></a>
      </td>
    </tr>
  </table>

</div>
